
.parafontsize p{font-size: 15px; line-height:20px;}
.termpageliststyle ul{list-style-type: disc;font-size: 15px; line-height:20px;padding-left: 40px;}

#contact-form-new input[type="text"]{
    padding: 5px 15px;
   max-width: 100%;
}
#contact-form-new input[type="email"]{
    max-width: 100%;
    padding: 5px 15px;
}
#contact-form-new input[type="tel"]{
    max-width: 100%;
    padding: 5px 15px;
}
#contact-form-new textarea{
    
  max-width: 100%;
    height: 100px;
    padding: 5px 15px;
}

#contact-form-new input[type="submit"]{
    padding: 5px 30px;
    border: 1px solid #555;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto Condensed';
    background: #fff;
}
#contact-form-new input[type="submit"]:hover{
        background: #22BB66;
    color: #fff;
}
#contact-form-new p[type="submit"]:hover{
        max-width: 250px;
        text-align: center;
}
.wpcf7-validation-errors{display: none !important;}

#price-1 , #price-2{margin-top: 20px;padding-left: 5px;padding-right: 5px;}


.pick_p{margin-top: 10px;}
.pick_div1{ padding-top: 15px;width:60%; float: left;}
.pick_div2{ padding-top: 15px;width:40%; float: left;}
.pick_main_div{padding-right: 30px;width: 100%;}

.pick_title{ color: #555 !important;
    float: left;
    font-size: 14px !important;
    margin: 0;
    padding: 2px 6px 0 0;
}

#example_filter , #example_length ,#receivedbid_filter,#receivedbid_filter{
    display: none;
}

.add_package_detail{width: 100%;  text-align: center; }
.edit_package{border: 0px; background: none; color:#337ab7;padding: 18px}
.package_display{background-color: #ddd;}
.package-detail-front .package_display{margin-top: 10px;}
.package-detail-front{width: 50%;margin: 0 auto;}
.remove {padding: 18px;}
.package_form{width: 60%;float: left;}
.package_image{width:40%;float: right;}
.package-detail-front{width: 100%}



#pickup_date_root , #delivery_date_root {width:40%;}

.do_input , .form-control{max-width: 100%}

.col-md-12.row.setSize {
    width: 65%;
}


.post-new3.loginform{width:100%}

/*CSS JOB ADD PAGE*/
.dimention_dropdown{float:right;width: 20%;}
.package-detail-front .modal-body p{float: unset;width: 100%;margin-top: 5px;margin-bottom: 5px}
.package-detail-front .modal-body p .form-control{width: 80%;float: left;}
.package-detail-front .modal-body p .dimention_display_weight{width:20%; background-color: #fff;position: relative;top: 7px;
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    margin-left: 5px;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.package-detail-front .modal-body p .dimention_display{width:20%; background-color: #fff;position: relative;top: 7px;
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    margin-left: 5px;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.model_error{color: #B94A48;}
.package-detail-front .package_display{margin: auto; font-weight: 900; margin-bottom: 10px;background-color: #fff; border: 1px dashed;}
.package-detail-front .package_display .inner_package_display{width: 360px;margin: auto;}
.package-detail-front .package_display .inner_package_display .inner_package_display_quantity{float: left}
.package-detail-front .package_display .inner_package_display .inner_package_display_weight{float: right}
.package-detail-front .package_display .inner_package_display .inner_package_display_dimention{float: left}
.div_for_p{ float: left;
    margin: 3px 0 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 700px;}
.myaccount_box{width: 95px;}
/*.myaccount_box span{color: #009900;}*/

.my-only-widget-content .rms1 li{border: 1px dashed #1d9c56;
    font-weight: 900;
    margin-bottom: 5px;
    padding-left: 5px;}
.my-only-widget-content .rms1 li p.rf2{padding-top: 0;margin: 0 0 4px;}
.post-new li.two_col{float: left;/* width: 50% */}
.post-new li.two_col p{width:100%}

.post-new li.show_two_col{display: none}
/*For Login Validation Error display*/
.login_user .setSize .form-control{width: 95%;}
.register_user .setSize .form-control{width: 95%;}
.login_user .setSize .post-new-login-error{width: 5%; float: right;position: relative;top: 13px;left: 5px}

.register_user .setSize .post-new-login-error{width: 5%; float: right;position: relative;top: 13px;left: 5px}

.dropzone .dz-default.dz-message{background-image: url("../images/Untitled-1.png") !important; }

/*.bidPanel li div{padding: 0; float: left; display: inline-block}*/
.bidPanel li div input {float: left}

.header-content{display: none}
.single #total_total #map{max-height: 450px !important;}

.container_ship_no_bk .job_info{
    width: auto;
}
.total-content-area.col-md-8 {
    float: none;
}
/* .post-new li.single-col h2{width:auto;} */
/* .post-new li.single-col p{width:auto;} */
/* .post-new li.single-col{width:auto;} */

body.page-template-shipme-special-page-template{font-family: "Rubik",Verdana,Geneva,sans-serif;font-size: 16px;}
.post-new li h2{font-family: "Rubik",Verdana,Geneva,sans-serif;font-size: 16px;}
.post-new li h3{font-family: "Rubik",Verdana,Geneva,sans-serif;}
.single-col #here{width: 100%;}
/*.single-col .div_for_p{width: 100%;}*/

/*Load More Button*/
.virtual_sidebar .load_more_button_area{background: none !important; display: block;float: none;margin: 0 auto;}
.load_more_job{display: block;float: none !important;margin: 0 auto;width: 115px;}


a.submit_bottom3:link, a.submit_bottom3:visited{padding: 5px 9px;}


.title-area {text-transform: uppercase}
.heds-area {text-transform: uppercase}