


.parafontsize p{font-size: 15px; line-height:20px;}
.termpageliststyle ul{list-style-type: disc;font-size: 15px; line-height:20px;padding-left: 40px;}

#contact-form-new input[type="text"]{
    padding: 5px 15px;
   max-width: 100%;
}
#contact-form-new input[type="email"]{
    max-width: 100%;
    padding: 5px 15px;
}
#contact-form-new input[type="tel"]{
    max-width: 100%;
    padding: 5px 15px;
}
#contact-form-new textarea{
    
  max-width: 100%;
    height: 100px;
    padding: 5px 15px;
}

#contact-form-new input[type="submit"]{
    padding: 5px 30px;
    border: 1px solid #555;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto Condensed';
    background: #fff;
}
#contact-form-new input[type="submit"]:hover{
        background: #22BB66;
    color: #fff;
}
#contact-form-new p[type="submit"]:hover{
        max-width: 250px;
        text-align: center;
}
.wpcf7-validation-errors{display: none !important;}

#price-1 , #price-2{margin-top: 20px;padding-left: 5px;padding-right: 5px;}


.pick_p{margin-top: 10px;}
.pick_div1{ padding-top: 15px;width:60%; float: left;}
.pick_div2{ padding-top: 15px;width:40%; float: left;}
.pick_main_div{padding-right: 30px;width: 100%;}

.pick_title{ color: #555 !important;
    float: left;
    font-size: 14px !important;
    margin: 0;
    padding: 2px 6px 0 0;
}

#example_filter , #example_length ,#receivedbid_filter,#receivedbid_filter{
    display: none;
}

.add_package_detail{width: 100%;  text-align: center; }
.edit_package{border: 0px; background: none; color:#337ab7;padding: 18px}
.package_display{background-color: #ddd;}
.package-detail-front .package_display{margin-top: 10px;}
.package-detail-front{width: 50%;margin: 0 auto;}
.remove {padding: 18px;}
.package_form{width: 60%;float: left;}
.package_image{width:40%;float: right;}



.picker {overflow: hidden;
    width: 100%;}

.do_input , .form-control{max-width: 100%}

.col-md-12.row.setSize {
    width: 65%;
}


.post-new3.loginform{width:100%}